@model BusSystem.Models.Route

@{
    ViewData["Title"] = "Delete Route";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    @if (ViewBag.Message != null)
    {
        <div class="row">
            <div class="col-12">
                <h3>@ViewBag.Message!</h3>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <h3>Are you sure you want to delete this Route ?</h3>
            </div>
        </div>

        <dl class="row">
            <dt class="col-3 col-sm-2 col-lg-1">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-9 col-sm-10 col-lg-11">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-3 col-sm-2 col-lg-1">
                @Html.DisplayNameFor(model => model.PickUp)
            </dt>
            <dd class="col-9 col-sm-10 col-lg-11">
                @Html.DisplayFor(model => model.PickUp.City)
            </dd>
            <dt class="col-3 col-sm-2 col-lg-1">
                @Html.DisplayNameFor(model => model.DropOff)
            </dt>
            <dd class="col-9 col-sm-10 col-lg-11">
                @Html.DisplayFor(model => model.DropOff.City)
            </dd>
        </dl>
    }

    <div class="row">
        <div class="col-12">
            <form asp-action="Delete">
                @if (!(ViewBag.Message != null))
                {
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>
