@model BusSystem.Models.Route

@{
    ViewData["Title"] = "Route Details";
}

<h1>Route Details <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-light"><i class="fa fa-edit"></i></a></h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUp)
        </dt>
        <dd class="col-sm-10">
            @Model.PickUp
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropOff)
        </dt>
        <dd class = "col-sm-10">
            @Model.DropOff
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
