@model BusSystem.Models.Bus

@{
    ViewData["Title"] = "Delete Bus";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-12">
            <h3>Are you sure you want to delete this Bus ?</h3>
        </div>
    </div>
    <dl class="row">
        <dt class="col-3 col-sm-2 col-lg-1">
            @Html.DisplayNameFor(model => model.BusNum)
        </dt>
        <dd class="col-9 col-sm-10 col-lg-11">
            @Html.DisplayFor(model => model.BusNum)
        </dd>
        <dt class="col-3 col-sm-2 col-lg-1">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-9 col-sm-10 col-lg-11">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-3 col-sm-2 col-lg-1">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-9 col-sm-10 col-lg-11">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
    </dl>
    <div class="row">
        <div class="col-12">
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>

<br />
