@model BusSystem.Models.Bus

@{
    ViewData["Title"] = "Bus Details";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/ResponsiveStyle.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-9">
            <h1>Bus Details</h1>
        </div>
        <div class="col-3 right">
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-light" style="border: 1.5px solid black; height: 47.5px;"><p style="font-size: 15pt;">⚙️</p></a>
        </div>
    </div>
    <dl class="row">
        <dt class="col-3 col-sm-2 col-lg-1">
            @Html.DisplayNameFor(model => model.BusNum)
        </dt>
        <dd class="col-9 col-sm-10 col-lg-11">
            @Html.DisplayFor(model => model.BusNum)
        </dd>
        <dt class="col-3 col-sm-2 col-lg-1">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-9 col-sm-10 col-lg-11">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-3 col-sm-2 col-lg-1">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-9 col-sm-10 col-lg-11">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
    </dl>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" id="btn-trips">Trips</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>

    <div class="row" id="tbl-trips" style="display: none">
        <div class="table-responsive">
            <br />
            <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
                <thead>
                    <tr class="d-none d-sm-table-row">
                        <th>
                            @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().StartDateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().AvailableSeats)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().Route)
                        </th>
                        <th class="no-sort d-none d-md-table-cell"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Trips)
                    {
                        string StartDateTime = item.StartDateTime.ToString();
                        StartDateTime = StartDateTime.Substring(0, StartDateTime.Length - 3).Replace(" ", " - ");

                        string Seats = item.AvailableSeats;
                        int SeatsNum = Seats.Split(',').Length;

                        <tr class="d-none d-sm-table-row">
                            <td>
                                @StartDateTime
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @SeatsNum
                            </td>
                            <td>
                                @item.Route
                            </td>
                            <td class="center d-none d-md-table-cell" style="min-width: 75px;">
                                <a class="btn btn-light" asp-controller="Trips" asp-action="Details" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt; width: 18px;">➜</div></a>
                            </td>
                        </tr>

                        <tr class="d-table-row d-sm-none">
                            <td>
                                @StartDateTime
                            </td>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <td>
                                @SeatsNum
                            </td>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <td>
                                @item.Route
                            </td>
                        </tr>
                        <tr class="d-table-row d-md-none" style="border-bottom: 1.5px solid black;">
                            <td class="center" colspan="100">
                                <a class="btn btn-light" asp-controller="Trips" asp-action="Details" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt; width: 18px;">➜</div></a>
                            </td>
                        </tr>
                        <tr class="d-none"></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />

@section Scripts
{
    <script>
        $("#btn-trips").click(function () {
            $("#tbl-trips").toggle();
        });
    </script>
}
