@model IEnumerable<BusSystem.Models.Bus>

@{
    ViewData["Title"] = "Buses";
}


<h1>
    Buses
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Add New</a>
</h1>

<table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.BusNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
