@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/ResponsiveStyle.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-9 left">
            <h1>Roles</h1>
        </div>
        <div class="col-3 right">
            <a asp-controller="administration" asp-action="CreateRole" class="btn btn-secondary btn-add"><p class="sgn-add">+</p></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (Model.Any())
            {
                foreach (var role in Model.OrderBy(m => m.Name))
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            Role Id : @role.Id
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@role.Name</h5>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" asp-action="EditRole"
                               asp-controller="Administration" asp-route-id="@role.Id">
                                Edit
                            </a>
                            @if (@role.Name != "Admin" && @role.Name != "Employee")
                            {
                                <a class="btn btn-danger" asp-action="DeleteRole"
                                   asp-controller="Administration" asp-route-id="@role.Id">
                                    Delete
                                </a>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="card">
                    <div class="card-header">
                        No roles created yet
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Use the button below to create a role
                        </h5>
                        <a class="btn btn-primary" style="width:auto"
                           asp-controller="administration" asp-action="CreateRole">
                            Create Role
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
