@model IEnumerable<BusSystem.Models.Bus>

@{
    ViewData["Title"] = "Buses";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/ResponsiveStyle.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-9 left">
            <h1>Buses' List</h1>
        </div>
        <div class="col-3 right">
            <a asp-action="Create" class="btn btn-secondary btn-add"><p class="sgn-add">+</p></a>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
                <thead>
                    <tr class="d-none d-sm-table-row">
                        <th>
                            @Html.DisplayNameFor(model => model.BusNum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Capacity)
                        </th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="d-none d-sm-table-row">
                            <td>
                                @Html.DisplayFor(modelItem => item.BusNum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Capacity)
                            </td>
                            <td class="center">
                                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt; width: 18px;">➜</div></a>
                                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt;">⚙️</div></a>
                                <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt;">✖️</div></a>
                            </td>
                        </tr>

                        <tr class="d-table-row d-sm-none">
                            <td>
                                @Html.DisplayFor(modelItem => item.BusNum)
                            </td>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <td>
                                @Html.DisplayFor(modelItem => item.Capacity)
                            </td>
                        </tr>
                        <tr class="d-table-row d-sm-none" style="background-color: lightgray;">
                            <td class="center">
                                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt; width: 18px;">➜</div></a>
                                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt;">⚙️</div></a>
                                <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt;">✖️</div></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
