@model BusSystem.Models.Trip

@{
    ViewData["Title"] = "TicketBooking";
}

<p>Passengers Count : @ViewBag.Passengers</p>

<style>
    img {
        width: 50px;
        height: 50px;
        padding: 10px;
        margin-bottom: 10px;
        cursor:pointer;
    }

    .setsvisualize {
        width: 600px;
    }

    input[type="checkbox"] {
        display: none;
    }

    .selectedimg {
        border: 1px solid #090;
        border-radius: 50%;
    }
</style>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class="col-sm-10">
            @Model.Route.ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.BusNum)
        </dd>
    </dl>

    <br />
    <div class="setsvisualize">
        <form asp-action="ticketBookseats" >
            <div class="row">
                <input type="hidden" name="tripID" value="@Model.ID" />
                @for (int i = 1; i <= Model.Bus.Capacity; i++)
                {

                    string c = i.ToString();
                    string classname = ((i + 1) % 4 == 0) ? "offset-md-3" : "";


                    <div class="col-md-2  @classname">


                        @if (Array.IndexOf(ViewBag.availableSets, c) != -1)
                        {
                            <img class="img" src="~/img/GreenSeat.png" />
                            <input name="sets[]" value="@i" type="checkbox" />
                        }
                        else
                        {

                            <img class="img" src="~/img/RedSeat.png" />
                            <input name="sets[]" value="@i" type="checkbox" disabled="disabled" />
                        }
                    </div>
                }

            </div>
            <hr />
            <input  type="submit" class="btn btn-secondary btn-lg" id="submitbtn" disabled value="Book"/>
            <span id="message" class="alert alert-danger">Make sure that you Selected  @ViewBag.Passengers seats</span>
        </form>
    </div>
</div>



@section Scripts {
    <script>
        var selectCount = 0;
        var message = "Make sure that you Selected " +@ViewBag.Passengers+" seats";
        $("img").click(function () {
            console.log(selectCount);
            if ($(this).siblings("input").attr("disabled") != "disabled") {
                if ($(this).siblings("input").attr("checked") == "checked") {
                    $(this).removeClass("selectedimg");
                    $(this).siblings("input").removeAttr("checked")
                    selectCount--;
                }else if(@ViewBag.Passengers > selectCount) {
                    $(this).siblings("input").attr("checked", "checked")
                    $(this).addClass("selectedimg");
                    selectCount++;
                }

                if (@ViewBag.Passengers == selectCount) {
                    $("#submitbtn").removeClass("btn btn-secondary btn-lg").addClass("btn btn-primary").prop('disabled', false);
                    $("#message").css("display","none")

                }

                if (@ViewBag.Passengers > selectCount) {
                    $("#submitbtn").removeClass("btn btn-primary").addClass("btn btn-secondary btn-lg").prop('disabled', true);
                    $("#message").css("display", "inline-block")

                }


            }



        });

    </script>
}

