@model IEnumerable<BusSystem.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
    
}

<h1>
    Tickets
    <a class="btn btn-success" asp-action="Index"><i class="fa fa-plus"></i> Book a new trip</a>
</h1>
<table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
        <tr>
            <th>
                Number Of seats
            </th>
            <th>
                @Html.DisplayName("Trip Route")
            </th>
            <th>
                @Html.DisplayName("Trip Date")
            </th>
            <th>
                Cost
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerCount)
                </td>
                <td>
                    @item.Trip.Route.PickUp
                    <i class="fas fa-arrow-right"></i>
                    @item.Trip.Route.DropOff
                </td>
                <td>
                    @item.Trip.StartDateTime
                </td>
                <td>
                    @{ 
                        decimal cost = @item.Trip.Price * item.PassengerCount;
                    }
                    @cost LE
                </td>
                <td>
                   @if(item.Trip.StartDateTime > DateTime.Now)
                   {
                       
                    <span></span>
                       <form asp-action="DeleteUserTicket">
                           <input type="hidden" value="@item.ID" name="ID"/>
                           <input type="submit" class="btn btn-outline-danger" value="Cancel Ticket" />
                       </form>
                   }
                </td>
            </tr>
        }
    </tbody>
</table>
