@model BusSystem.Models.Ticket

@{
    ViewData["Title"] = "Delete Ticket";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    @if (ViewBag.Date < DateTime.Now)
    {
        <div class="row">
            <div class="col-12">
                <h3>This ticket can't deleted ,"it is out of date"!</h3>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <h3>Are you sure you want to delete this Ticket ?</h3>
            </div>
        </div>

        <dl class="row">
            <dt class="col-4 col-sm-3 col-lg-2">
                @Html.DisplayName("Booked Seats")
            </dt>
            <dd class="col-8 col-sm-9 col-lg-10">
                @Html.DisplayFor(model => model.PassengerCount)
            </dd>
            <dt class="col-4 col-sm-3 col-lg-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-8 col-sm-9 col-lg-10">
                @Html.DisplayFor(model => model.Client.ClientName)
            </dd>
            <dt class="col-4 col-sm-3 col-lg-2">
                @Html.DisplayName("Trip Route")
            </dt>
            <dd class="col-8 col-sm-9 col-lg-10">
                @Model.Trip.Route.PickUp >> @Model.Trip.Route.DropOff
            </dd>
            <dt class="col-4 col-sm-3 col-lg-2">
                @Html.DisplayName("Trip Date")
            </dt>
            <dd class="col-8 col-sm-9 col-lg-10">
                @{
                    string StartDateTime = Model.Trip.StartDateTime.ToString();
                    StartDateTime = StartDateTime.Substring(0, StartDateTime.Length - 3).Replace(" ", " - ");
                    @StartDateTime
                }
            </dd>
        </dl>
    }

    <div class="row">
        <div class="col-12">
            <form asp-action="Delete">
                @if (!(ViewBag.Date < DateTime.Now))
                {
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>
