@model IEnumerable<BusSystem.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Tickets
    <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> Add New</a>
</h1>
<table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PassengerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookedSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayName("Trip Route")
            </th>
            <th>
                @Html.DisplayName("Trip Date")
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookedSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.UserName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Trip.tostringprop)*@
                    @item.Trip.Route.PickUp
                    <i class="fas fa-arrow-right"></i>
                    @item.Trip.Route.DropOff
                </td>
                <td>
                    @item.Trip.StartDateTime
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
