@model BusSystem.Models.Ticket

@{
    ViewData["Title"] = "Ticket Details";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/ResponsiveStyle.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-9">
            <h1>Ticket Details</h1>
        </div>
        <div class="col-3 right">
            @*<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-light" style="border: 1.5px solid black; height: 47.5px;"><p style="font-size: 15pt;">⚙️</p></a>*@
        </div>
    </div>
    <dl class="row">
        <dt class="col-4 col-sm-3 col-lg-2">
            @Html.DisplayName("Booked Seats")
        </dt>
        <dd class="col-8 col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.PassengerCount)
        </dd>
        <dt class="col-4 col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-8 col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>
        <dt class="col-4 col-sm-3 col-lg-2">
            @Html.DisplayName("Trip Route")
        </dt>
        <dd class="col-8 col-sm-9 col-lg-10">
            @Model.Trip.Route.PickUp >> @Model.Trip.Route.DropOff
        </dd>
        <dt class="col-4 col-sm-3 col-lg-2">
            @Html.DisplayName("Trip Date")
        </dt>
        <dd class="col-8 col-sm-9 col-lg-10">
            @{
                string StartDateTime = Model.Trip.StartDateTime.ToString();
                StartDateTime = StartDateTime.Substring(0, StartDateTime.Length - 3).Replace(" ", " - ");
                @StartDateTime
            }
        </dd>
    </dl>
    </dl>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
