@model IEnumerable<BusSystem.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/ResponsiveStyle.css" rel="stylesheet" />

<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-9 left">
            <h1>Tickets</h1>
        </div>
        <div class="col-3 right">
            @*<a asp-action="Create" class="btn btn-secondary btn-add"><p class="sgn-add">+</p></a>*@
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
                <thead>
                    <tr class="d-none d-sm-table-row">
                        <th>
                            @Html.DisplayName("Booked Seates")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Client)
                        </th>
                        <th>
                            @Html.DisplayName("Trip Route")
                        </th>
                        <th>
                            @Html.DisplayName("Trip Date")
                        </th>
                        <th class="no-sort d-none d-md-table-cell"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string StartDateTime = item.Trip.StartDateTime.ToString();
                        StartDateTime = StartDateTime.Substring(0, StartDateTime.Length - 3).Replace(" ", " - ");

                        <tr class="d-none d-sm-table-row">
                            <td>
                                @Html.DisplayFor(modelItem => item.PassengerCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Client.ClientName)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Trip.tostringprop)*@
                                @item.Trip.Route.PickUp >> @item.Trip.Route.DropOff
                            </td>
                            <td>
                                @StartDateTime
                            </td>
                            <td class="center d-none d-md-table-cell" style="min-width: 150px;">
                                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt; width: 18px;">➜</div></a>
                                @*<a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt;">⚙️</div></a>*@
                                <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt;">✖️</div></a>
                            </td>
                        </tr>

                        <tr class="d-table-row d-sm-none">
                            <td>
                                @Html.DisplayFor(modelItem => item.PassengerCount)
                            </td>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <td>
                                @Html.DisplayFor(modelItem => item.Client.UserName)
                            </td>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Trip.tostringprop)*@
                                @item.Trip.Route.PickUp >> @item.Trip.Route.DropOff
                            </td>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <td>
                                @StartDateTime
                            </td>
                        </tr>
                        <tr class="d-table-row d-md-none" style="border-bottom: 1.5px solid black;">
                            <td class="center" colspan="100">
                                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt; width: 18px;">➜</div></a>
                                @*<a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt;">⚙️</div></a>*@
                                <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.ID" style="border: 1.5px solid black;"><div style="font-size: 10pt;">✖️</div></a>
                            </td>
                        </tr>
                        <tr class="d-none"></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
